# Frequency: 144.489M
# Band: 2 meters
# Runs at: 17:00 and 23:00 every day
00 17,23 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 14.0956M "2 meters"

# Frequency: 50.293M
# Band: 6 meters
# Runs at: 09:00 and 15:00 every day
00 09,15 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 50.293M "6 meters"

# Frequency: 28.1246M
# Band: 10 meters
# Runs at: 08:00 and 14:00 every day
00 08,14 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 28.1246M "10 meters"

# Frequency: 21.0946M
# Band: 15 meters
# Runs at: 07:00 and 13:00 every day
00 07,13 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 21.0946M "15 meters"

# Frequency: 18.1046M
# Band: 17 meters
# Runs at: 06:00 and 12:00 every day
00 06,12 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 18.1046M "17 meters"

# Frequency: 14.0956M
# Band: 20 meters
# Runs at: 05:00 and 11:00 every day
00 05,11 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 14.0956M "20 meters"

# Frequency: 10.1387M
# Band: 30 meters

# Frequency: 7.0386M
# Band: 40 meters
# Runs at: 19:00 and 00:00 every day
00 19,00 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 7.0386M "40 meters"

# Frequency: 5.2872M
# Band: 60 meters
# Runs at: 20:00 and 01:00 every day
00 20,01 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 5.2872M "60 meters"

# Frequency: 3.5686M
# Band: 80 meters
# Runs at: 21:00 and 02:00 every day
00 21,02 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 3.5686M "80 meters"

# Frequency: 1.8366M
# Band: 160 meters
# Runs at: 22:00 and 03:00 every day
00 22,03 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/wspr-receiver.sh 1.8366M "160 meters"

# Transmit wsprd
# Runs at: 04:00 every day
00 04 * * * $WSPR_RECV_PATH/kill-transmit.sh && $WSPR_RECV_PATH/start-transmit.sh

# Transmit wsprd
# Runs at: 10:00 and 16:00 every day
00 10,16 * * * $WSPR_RECV_PATH/kill-receive.sh && $WSPR_RECV_PATH/start-transmit.sh
